

	h1 { font-family: Mitre; }
	
	footer {  background: rgb(230,230,230); color:#111; font-size: 100%; font-family: Mitre; }
	
	button { background: none; color: #111; border:none}
	
	article {border:2px solid  rgb(220,200,200) ; 
			border-bottom:8px solid  rgb(220,200,200) ;
			
			padding: 10px;
			margin: 10px; 
			}